@font-face {
    font-family: 'Anurati';
    font-style: normal;
    font-weight: 400;
    src: local('Anurati'), url('https://fonts.cdnfonts.com/s/14024/Anurati-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Days';
    font-style: normal;
    font-weight: 400;
    src: local('Days'), url('https://fonts.cdnfonts.com/s/104/Days.woff') format('woff');
}

@font-face {
    font-family: 'Mido';
    font-style: normal;
    font-weight: 500;
    src: local('Mido'), url('https://fonts.cdnfonts.com/s/303/Mido.woff') format('woff');
}