// General
$separacion: 5rem;
$anurati: Anurati, sans-serif;
$days: Days, sans-serif;
$mido: Mido, sans-serif;

// Colores 
$negro: #000000;
$blanco: #ffffff;
$sombreado: #0F0F0F;
$cian: #068F92;
$azulOscuro: #01386E;

// Fuentes
$delgada: 300;
$media : 400;
$negrita: 700;

// Tamaño de Media Queries
$telefono: 479px;
$tablet: 767px;
$desktop: 1023px;